/*          ABOUT US II */

.about-us2 {
   height: 1135px;
   position: relative;
   color: black;
   border: .1px solid transparent;  /* fix выпадения марджина */
}

.about-us2__container {
   width: 1280px;
   height: 750px;
   margin: 200px auto 180px auto;
   padding-top: 40px;
}

.about-us2__top-wrapper {
   display: flex;
   border-bottom: 2px solid black;
   height: 340px;
}
.about-us2__title {
   width: 50%;
   font-weight: bold;
   font-size: 45px;
   line-height: 72px;
}
.about-us2__description {
   width: 50%;
   font-size: 25px;
   line-height: 45px;
   margin-top: 40px;
}

.about-us2__quarta {
   position: absolute;
   top: 576px;
   left: 587px;
   z-index: -1;
}

.about-us2_bottom-wrapper {
   display: flex;
}

.about-us2__bottom-left {
   margin-top: 75px;
   width: 480px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
}
.about-us2__v-line {
   margin: 0;
}
.about-us2__text {
   font-size: 18px;
   line-height: 32px;
   vertical-align: top;
   display: inline-block;
   padding-top: 30px;
}
.about-us2__line > .about-us2__text {
   display: inline-block;
   padding-top: 30px;
}
.about-us2__num-middle {
   display: inline-block;
   width: 85px;
   font-family: 'TTFirsNeue';
   font-size: 60px;
   line-height: 123px;
}
.about-us2__num-big {
   font-family: 'TTFirsNeue';
   font-size: 160px;
   line-height: 176px;
   margin: 0;
}

.about-us2__offices {
   display: inline-block;
   margin-top: 80px;
   margin-left: 160px;
}
.about-us2__offices-text {
   font-size: 18px;
   line-height: 32px;
   margin-top: -10px;
}
.about-us2__offices-1 {
   display: inline-block;
}
.about-us2__offices-2 {
   display: inline-block;
   margin-left: 80px;
}