:root {
   font-size: 100%;
}

*, :after, :before {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

.absolute {
   position: absolute;
}

.fixed {
   position: fixed;
}

.sticky {
   position: sticky;
}

.invert {
   filter: invert(1);
}

body {
   color: white;
   margin: 0;
   overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;
}

/* scrollbars fix */
::-webkit-scrollbar {
    width: 0px;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
   font-family: 'GothamBold';
   font-weight: bold;
   src: url(./../fonts/GothamBold.otf);
}

@font-face {
   font-family: 'TTFirsNeue';
   font-weight: normal;
   src: url(./../fonts/TTFirsNeue.otf);
}


/*       INTRO  */

.intro {
   width: 100%;
   height: 1080px;
   background-color: #262626;
   font-family: 'Open Sans', sans-serif;
}

.intro__bg {
   position: absolute;
   width: 2916px;
   height: 1079px;
   left: -191px;
   opacity: 0.56;
   object-fit: cover;
}


/*       TITLE  */

.intro__title {
   position: absolute;
   top: 20.83vw;
   left: 6.93vw;
   width: 58.7vw;
   padding: 0 9px 0 27px;
}

.intro__title-head > h1{
   font-size: calc(20px + 3.96vw);
   font-weight: bold;
   line-height: calc(20px + 5.94vw);

}

.intro__title-head > h1 {
   margin: 0;
   color: #FFCB05;
}

.intro__title-head > h1> span {
   color: #fff;
}

.intro__title-text {
   font-size: 25px;
   line-height: calc(25px + 1.35vw);
   margin-top: 32px;
}
