:root {
   font-size: 100%;
}

*, :after, :before {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

.absolute {
   position: absolute;
}

.fixed {
   position: fixed;
}

.sticky {
   position: sticky;
}

.invert {
   filter: invert(1);
}

body {
   color: white;
   margin: 0;
   overflow-x: hidden;
}

/* scrollbars fix */
::-webkit-scrollbar {
    width: 0px;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
   font-family: 'GothamBold';
   font-style: bold;
   src: url(./../fonts/GothamBold.otf);
}


/*       INTRO  */

.intro {
   width: 100%;
   height: 1080px;
   background-color: #262626;
   font-family: 'Open Sans', sans-serif;
}

.intro__bg {
   position: absolute;
   width: 2916px;
   height: 1079px;
   left: -191px;
   opacity: 0.56;
   object-fit: cover;
}


/*       TITLE  */

.intro__title {
   position: absolute;
   top: 20.83vw;
   left: 6.93vw;
   width: 59.7vw;
   padding: 0 9px 0 27px;
}

.intro__title-head > h1 {
   font-size: calc(20px + 3.96vw);
   font-weight: bold;
   line-height: calc(20px + 5.94vw);

   display: inline-block;
   margin: 0;
}

.intro__title-head > h1:first-child {
   
   /* overflow: hidden; */
   background: linear-gradient(90deg, rgba(255,231,0,1) 0%, rgba(255,231,0,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
   background-repeat: no-repeat;
   background-size: 95%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: rgba(255, 255, 0, 0);

   animation-fill-mode: forwards;
   animation: animate 2s linear;
}
.intro__title-head > h1:first-child:after{
   content: '.';
   opacity: 0;
}

/* .intro__title-head > h1:nth-last-child() {
   color: #fff;
} */

.intro__title-text {
   font-size: 25px;
   line-height: calc(25px + 1.35vw);
   margin-top: 32px;
}


/* try to animate */

@keyframes animate {
   0% {
      background-position: -10000%;
   }
   50% {
      background-position: -1000%;
   }
   100% {
      background-position: 100%;
   }
}