.reqform {
   width: 1600px;
   height: 827px;
   margin: 5px 160px 180px;
   padding: 80px 160px;
   color: #000;
}

.reqform__title {
   font-size: 45px;
   font-weight: bold;
   line-height: 63px;
   margin: 0 0 90px;
}

.reqform__form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 18px;
   line-height: 39px;
}

.reqform__field {
   position: relative;
   border-bottom: 2px solid #000;
   margin-bottom: 65px;
}
.clear-border {
   border-bottom: none;
}
.reqform__field_100 {
   flex-basis: 100%;
   max-width: 100%;
}
.reqform__field_50 {
   flex-basis: 46.87%;
   max-width: 46.87%;
}
.reqform__field_offset {
   margin-left: 80px;
}
.reqform__field_active {
   border-color: #FFCB05;
}
.reqform__field_error {
   border-color: #FF1F00;
}

.reqform__input {
   border: none;
   color: #000;
   padding-bottom: 20px;
   width: 100%;
}

.reqform__field > label {
   position: absolute;
   left: 2px;
   color: rgba(0, 0, 0, 0.6);
}

.reqform__checkbox-box {
   margin-right: 15px;
}

.reqform__checkbox-label {
   position: initial !important;
   font-size: 14px;
   line-height: 31px;
   letter-spacing: .1em;
   text-transform: uppercase;
}

.align-right {
   text-align: end;
}

.reqform__form button {
   width: 200px;
   height: 60px;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   border: 2px solid black;
   background-color: transparent;

   margin-top: -10px; /* FIX position */
}