/*          ABOUT US II       */

.about-us2 {
   height: 1135px;
   position: relative;
   color: $txtColor;
   border: .1px solid transparent;  /* fix выпадения марджина */

   &__container {
      width: 1280px;
      height: 750px;
      margin: 200px auto 180px auto;
      padding-top: 40px;
   }

   &__top-wrapper {
      display: flex;
      border-bottom: 2px solid $txtColor;
      height: 340px;
   }
   &__title {
      width: 50%;
      font-size: 45px;
      line-height: 72px;
      margin-top: 35px;
   }
   &__description {
      width: 50%;
      font-size: 25px;
      line-height: 45px;
      margin-top: 40px;
   }

   &__quarta {
      position: absolute;
      top: 576px;
      left: 587px;
      z-index: -1;
   }

   &_bottom-wrapper {
      display: flex;
   }

   &__bottom-left {
      margin-top: 75px;
      width: 480px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
   }
   &__v-line {
      margin: 0;
   }
   &__text {
      font-size: 18px;
      line-height: 32px;
      vertical-align: top;
      display: inline-block;
      padding-top: 30px;
   }
   &__line > &__text {
      display: inline-block;
      padding-top: 30px;
   }
   &__num-middle {
      display: inline-block;
      width: 85px;
      font-family: 'TTFirsNeue';
      font-size: 60px;
      line-height: 123px;
   }
   &__num-big {
      font-family: 'TTFirsNeue';
      font-size: 160px;
      line-height: 176px;
      margin: 0;
   }

   &__offices {
      display: inline-block;
      margin-top: 80px;
      margin-left: 160px;
   }
   &__offices-text {
      font-size: 18px;
      line-height: 32px;
      margin-top: -10px;
   }
   &__offices-1 {
      display: inline-block;
   }
   &__offices-2 {
      display: inline-block;
      margin-left: 80px;
   }
}

