.navbar {
   height: 80px;
   width: 100%;
   position: absolute;
   display: flex;
   align-items: center;

   color: $contrColor-2;

   & a {
      color: $contrColor-2;
   }

   &__sandwich {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: #5C6266;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__sandwich:hover {
      filter: invert(100);
   }

   &__links {
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-size: 12px;
   }

   &__logo-image {
      margin: 0 22px;
   }

   &__link {
      display: inline-block;
      margin-left: 3.9vw;
      margin-right: 5px;
      padding: 15px 0;
      color: $contrColor-2;
      font-weight: bold;
      line-height: 16px;
      text-transform: uppercase;
   }

   &__empty-bar {
      margin: 0 auto;
      min-width: 10px;
   }

   &__tel {
      margin-right: 4.2vw;
      font-weight: bold;
      line-height: 25px;
   }

   &__tel > a > span {
      font-weight: normal;
   }
}




